---
http_interactions:
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/product_listings/6955505189019.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"product_listing":{"product_id":6955505189019,"created_at":"2021-08-02T18:50:04+02:00","updated_at":"2021-08-06T17:59:25+02:00","body_html":"d","handle":"late-morning","product_type":"","title":"late
        morning","vendor":"sales-channel-rails-react-store","available":true,"tags":"","published_at":"2021-08-06T17:43:15+02:00","variants":[{"id":40687530115227,"title":"Default
        Title","option_values":[{"option_id":8921500582043,"name":"Title","value":"Default
        Title"}],"price":"8.00","formatted_price":"8 kr","compare_at_price":null,"grams":0,"requires_shipping":true,"sku":"","barcode":"","taxable":true,"position":1,"available":true,"inventory_policy":"deny","inventory_quantity":0,"inventory_management":null,"fulfillment_service":"manual","weight":0.0,"weight_unit":"kg","image_id":null,"created_at":"2021-08-02T18:50:04+02:00","updated_at":"2021-08-05T16:43:36+02:00"}],"images":[{"id":31900624847003,"created_at":"2021-08-05T16:29:24+02:00","position":1,"updated_at":"2021-08-05T16:29:24+02:00","product_id":6955505189019,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0575\/7471\/9643\/products\/ScreenShot2021-08-03at6.56.55PM.png?v=1628173764","variant_ids":[],"width":3050,"height":2008}],"options":[{"id":8921500582043,"name":"Title","product_id":6955505189019,"position":1,"values":["Default
        Title"]}]}}'
  recorded_at: Sun, 08 Aug 2021 08:38:33 GMT
- request:
    method: delete
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/product_listings/6955505189019.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 08 Aug 2021 08:38:34 GMT
recorded_with: VCR 6.0.0
