---
http_interactions:
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332725289115'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"shop":{"id":57574719643,"name":"sales-channel-rails-react-store","email":"handcraft.scandinavian@gmail.com","domain":"sales-channel-rails-react-store.myshopify.com","province":"","country":"SE","address1":"Roslagstullsbacken
        13C, lgh 1107","zip":"11421","city":"Stockholm","source":null,"phone":"","latitude":59.3530471,"longitude":18.0558628,"primary_locale":"en","address2":null,"created_at":"2021-06-18T09:43:15+02:00","updated_at":"2021-06-18T10:25:11+02:00","country_code":"SE","country_name":"Sweden","currency":"SEK","customer_email":"handcraft.scandinavian@gmail.com","timezone":"(GMT+01:00)
        Europe\/Stockholm","iana_timezone":"Europe\/Stockholm","shop_owner":"Seungwoo
        Cha","money_format":"{{amount_no_decimals}} kr","money_with_currency_format":"{{amount_no_decimals}}
        SEK","weight_unit":"kg","province_code":null,"taxes_included":true,"auto_configure_tax_inclusivity":null,"tax_shipping":null,"county_taxes":true,"plan_display_name":"Developer
        Preview","plan_name":"partner_test","has_discounts":false,"has_gift_cards":false,"myshopify_domain":"sales-channel-rails-react-store.myshopify.com","google_apps_domain":null,"google_apps_login_enabled":null,"money_in_emails_format":"{{amount_no_decimals}}
        kr","money_with_currency_in_emails_format":"{{amount_no_decimals}} SEK","eligible_for_payments":true,"requires_extra_payments_agreement":false,"password_enabled":true,"has_storefront":true,"eligible_for_card_reader_giveaway":false,"finances":true,"primary_location_id":63230050459,"cookie_consent_level":"implicit","visitor_tracking_consent_preference":"allow_all","checkout_api_supported":false,"multi_location_enabled":true,"setup_required":false,"pre_launch_enabled":false,"enabled_presentment_currencies":["SEK"]}}'
  recorded_at: Wed, 04 Aug 2021 08:11:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/account_links
    body:
      encoding: UTF-8
      string: account=acct_1JBDI42E9AzHoFKF&refresh_url=https%3A%2F%2Fjublet.com%2Fshop_application%2Fabout&return_url=https%3A%2F%2Fjublet.com%2Fabout&type=account_onboarding
    headers:
      Authorization:
      - Bearer <STRIPE_API>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "account_link",
          "created": 1628064716,
          "expires_at": 1628065016,
          "url": "https://connect.stripe.com/express/onboarding/bDwaqUJIMHcd"
        }
  recorded_at: Wed, 04 Aug 2021 08:11:56 GMT
recorded_with: VCR 6.0.0
