---
http_interactions:
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332725289115'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"shop":{"id":57574719643,"name":"sales-channel-rails-react-store","email":"handcraft.scandinavian@gmail.com","domain":"sales-channel-rails-react-store.myshopify.com","province":"","country":"SE","address1":"Roslagstullsbacken
        13C, lgh 1107","zip":"11421","city":"Stockholm","source":null,"phone":"","latitude":59.3530471,"longitude":18.0558628,"primary_locale":"en","address2":null,"created_at":"2021-06-18T09:43:15+02:00","updated_at":"2021-06-18T10:25:11+02:00","country_code":"SE","country_name":"Sweden","currency":"SEK","customer_email":"handcraft.scandinavian@gmail.com","timezone":"(GMT+01:00)
        Europe\/Stockholm","iana_timezone":"Europe\/Stockholm","shop_owner":"Seungwoo
        Cha","money_format":"{{amount_no_decimals}} kr","money_with_currency_format":"{{amount_no_decimals}}
        SEK","weight_unit":"kg","province_code":null,"taxes_included":true,"auto_configure_tax_inclusivity":null,"tax_shipping":null,"county_taxes":true,"plan_display_name":"Developer
        Preview","plan_name":"partner_test","has_discounts":false,"has_gift_cards":false,"myshopify_domain":"sales-channel-rails-react-store.myshopify.com","google_apps_domain":null,"google_apps_login_enabled":null,"money_in_emails_format":"{{amount_no_decimals}}
        kr","money_with_currency_in_emails_format":"{{amount_no_decimals}} SEK","eligible_for_payments":true,"requires_extra_payments_agreement":false,"password_enabled":true,"has_storefront":true,"eligible_for_card_reader_giveaway":false,"finances":true,"primary_location_id":63230050459,"cookie_consent_level":"implicit","visitor_tracking_consent_preference":"allow_all","checkout_api_supported":false,"multi_location_enabled":true,"setup_required":false,"pre_launch_enabled":false,"enabled_presentment_currencies":["SEK"]}}'
  recorded_at: Wed, 04 Aug 2021 08:11:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=express&capabilities[card_payments][requested]=true&capabilities[transfers][requested]=true
    headers:
      Authorization:
      - Bearer <STRIPE_API>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1JKfCf2ETQTL6jow",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "country": "SE",
          "created": 1628064713,
          "default_currency": "sek",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1JKfCf2ETQTL6jow/external_accounts"
          },
          "login_links": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/accounts/acct_1JKfCf2ETQTL6jow/login_links",
            "data": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "relationship.representative",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "relationship.representative",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "relationship.representative",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "express"
        }
  recorded_at: Wed, 04 Aug 2021 08:11:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/account_links
    body:
      encoding: UTF-8
      string: account=acct_1JKfCf2ETQTL6jow&refresh_url=https%3A%2F%2Fjublet.com%2Fshop_application%2Fabout&return_url=https%3A%2F%2Fjublet.com%2Fabout&type=account_onboarding
    headers:
      Authorization:
      - Bearer <STRIPE_API>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "account_link",
          "created": 1628064715,
          "expires_at": 1628065015,
          "url": "https://connect.stripe.com/express/onboarding/WzOi8UUy5SRo"
        }
  recorded_at: Wed, 04 Aug 2021 08:11:55 GMT
recorded_with: VCR 6.0.0
