---
http_interactions:
- request:
    method: post
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/1234567890/resource_feedback.json
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"state":"requires_action","messages":["Needs
        a jublet categories.","Needs description.","Needs images."],"resource_updated_at":"2021-07-30T15:36:53+02:00","feedback_generated_at":"2021-08-05
        15:08:50 UTC"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Thu, 05 Aug 2021 15:08:50 GMT
recorded_with: VCR 6.0.0
