---
http_interactions:
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955505057947.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"product":{"id":6955505057947,"title":"lively mountain","body_html":"12","vendor":"sales-channel-rails-react-store","product_type":"","created_at":"2021-08-02T18:50:03+02:00","handle":"lively-mountain","updated_at":"2021-08-05T16:05:30+02:00","published_at":"2021-08-03T18:36:23+02:00","template_suffix":"","status":"active","published_scope":"web","tags":"","admin_graphql_api_id":"gid:\/\/shopify\/Product\/6955505057947","variants":[{"id":40687529689243,"product_id":6955505057947,"title":"Default
        Title","price":"9.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2021-08-02T18:50:03+02:00","updated_at":"2021-08-05T16:04:55+02:00","taxable":true,"barcode":"","grams":0,"image_id":null,"weight":0.0,"weight_unit":"kg","inventory_item_id":42782739562651,"inventory_quantity":0,"old_inventory_quantity":0,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/40687529689243"}],"options":[{"id":8921500418203,"product_id":6955505057947,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[{"id":31900290580635,"product_id":6955505057947,"position":1,"created_at":"2021-08-05T16:05:14+02:00","updated_at":"2021-08-05T16:05:14+02:00","alt":null,"width":4,"height":2,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0575\/7471\/9643\/products\/ScreenShot2021-07-29at10.12.59AM.png?v=1628172314","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/31900290580635"}],"image":{"id":31900290580635,"product_id":6955505057947,"position":1,"created_at":"2021-08-05T16:05:14+02:00","updated_at":"2021-08-05T16:05:14+02:00","alt":null,"width":4,"height":2,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0575\/7471\/9643\/products\/ScreenShot2021-07-29at10.12.59AM.png?v=1628172314","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/31900290580635"}}}'
  recorded_at: Thu, 05 Aug 2021 14:09:21 GMT
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955505057947/metafields.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/changelog/online-store-2-0-new-metafields-type-system-and-dynamic-sources
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"metafields":[{"id":19931263303835,"namespace":"sc-jublet","key":"jublet_category","value":"12","value_type":"string","description":null,"owner_id":6955505057947,"created_at":"2021-08-05T16:05:29+02:00","updated_at":"2021-08-05T16:05:29+02:00","owner_resource":"product","type":"string","admin_graphql_api_id":"gid:\/\/shopify\/Metafield\/19931263303835"}]}'
  recorded_at: Thu, 05 Aug 2021 14:09:22 GMT
recorded_with: VCR 6.0.0
