---
http_interactions:
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955505254555.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"product":{"id":6955505254555,"title":"fragrant sun","body_html":"12","vendor":"sales-channel-rails-react-store","product_type":"","created_at":"2021-08-02T18:50:05+02:00","handle":"fragrant-sun","updated_at":"2021-08-05T16:03:47+02:00","published_at":"2021-08-03T18:36:17+02:00","template_suffix":"","status":"active","published_scope":"web","tags":"","admin_graphql_api_id":"gid:\/\/shopify\/Product\/6955505254555","variants":[{"id":40687530606747,"product_id":6955505254555,"title":"Default
        Title","price":"9.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2021-08-02T18:50:05+02:00","updated_at":"2021-08-05T15:55:36+02:00","taxable":true,"barcode":"","grams":0,"image_id":null,"weight":0.0,"weight_unit":"kg","inventory_item_id":42782740480155,"inventory_quantity":0,"old_inventory_quantity":0,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/40687530606747"}],"options":[{"id":8921500680347,"product_id":6955505254555,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[],"image":null}}'
  recorded_at: Thu, 05 Aug 2021 14:09:29 GMT
- request:
    method: get
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955505254555/metafields.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/changelog/online-store-2-0-new-metafields-type-system-and-dynamic-sources
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"metafields":[]}'
  recorded_at: Thu, 05 Aug 2021 14:09:29 GMT
[...]
- request:
    method: post
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955505254555/resource_feedback.json
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"state":"requires_action","messages":["Needs
        a jublet categories.","Needs images."],"resource_updated_at":"2021-08-05T16:03:47+02:00","feedback_generated_at":"2021-08-05
        14:09:30 UTC"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - canary
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"created_at":"2021-08-05T16:03:52+02:00","updated_at":"2021-08-05T16:09:30+02:00","resource_id":6955505254555,"resource_type":"Product","resource_updated_at":"2021-08-05T16:03:47+02:00","messages":["Needs
        a jublet categories.","Needs images."],"feedback_generated_at":"2021-08-05T16:09:30+02:00","state":"requires_action"}}'
  recorded_at: Thu, 05 Aug 2021 14:09:30 GMT
recorded_with: VCR 6.0.0
