---
http_interactions:
- request:
    method: post
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955504926875/resource_feedback.json
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"state":"requires_action","resource_type":"Product","messages":["Needs
        at least one image.","Needs a description.","Needs a category.","Make sure
        this product is available to your Online Store and is not password protected."],"resource_updated_at":"2021-08-04T16:39:06.579Z","feedback_generated_at":"2021-08-04
        16:39:06 UTC"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332725289115'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"created_at":"2021-08-04T17:50:39+02:00","updated_at":"2021-08-04T18:39:06+02:00","resource_id":6955504926875,"resource_type":"Product","resource_updated_at":"2021-08-04T18:39:06+02:00","messages":["Needs
        at least one image.","Needs a description.","Needs a category.","Make sure
        this product is available to your Online Store and is not password protected."],"feedback_generated_at":"2021-08-04T18:39:06+02:00","state":"requires_action"}}'
  recorded_at: Wed, 04 Aug 2021 16:39:07 GMT
recorded_with: VCR 6.0.0
