---
http_interactions:
- request:
    method: post
    uri: https://sales-channel-rails-react-store.myshopify.com/admin/api/2021-07/products/6955505057947/resource_feedback.json
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"state":"success","resource_updated_at":"2021-08-05T15:08:50.621Z","feedback_generated_at":"2021-08-05
        15:08:50 UTC"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - 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
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '154'
      X-Sorting-Hat-Shopid:
      - '57574719643'
      X-Shopid:
      - '57574719643'
      X-Shardid:
      - '154'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '5429749'
      X-Stats-Apipermissionid:
      - '332930056347'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2021-07
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-europe-north1,gcp-us-central1,gcp-us-central1
    body:
      encoding: UTF-8
      string: '{"resource_feedback":{"created_at":"2021-08-05T17:08:51+02:00","updated_at":"2021-08-05T17:08:51+02:00","resource_id":6955505057947,"resource_type":"Product","resource_updated_at":"2021-08-05T17:08:50+02:00","messages":[],"feedback_generated_at":"2021-08-05T17:08:50+02:00","state":"success"}}'
  recorded_at: Thu, 05 Aug 2021 15:08:51 GMT
recorded_with: VCR 6.0.0
