---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&business_type=individual&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers
    headers:
      Authorization:
      - Bearer <STRIPE_API>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1JAfgb2Ey4Z2TKOv",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": "individual",
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "SE",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": true,
            "executives_provided": true,
            "name": null,
            "owners_provided": true,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "country": "SE",
          "created": 1625683290,
          "default_currency": "sek",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1JAfgb2Ey4Z2TKOv/external_accounts"
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "business_profile.url",
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.email",
              "individual.first_name",
              "individual.last_name",
              "individual.phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.mcc",
              "business_profile.url",
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.email",
              "individual.first_name",
              "individual.last_name",
              "individual.phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.mcc",
              "business_profile.url",
              "external_account",
              "individual.address.city",
              "individual.address.line1",
              "individual.address.postal_code",
              "individual.dob.day",
              "individual.dob.month",
              "individual.dob.year",
              "individual.email",
              "individual.first_name",
              "individual.last_name",
              "individual.phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Wed, 07 Jul 2021 18:41:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/account_links
    body:
      encoding: UTF-8
      string: account=acct_1JAfgb2Ey4Z2TKOv&refresh_url=https%3A%2F%2Fexample.com%2Freauth&return_url=https%3A%2F%2Fexample.com%2Freturn&type=custom_account_verification&collect=eventually_due
    headers:
      Authorization:
      - Bearer <STRIPE_API>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "account_link",
          "created": 1625683291,
          "expires_at": 1625683591,
          "url": "https://connect.stripe.com/setup/c/fgz5XmtsmAWu"
        }
  recorded_at: Wed, 07 Jul 2021 18:41:31 GMT
recorded_with: VCR 6.0.0
